<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="target-densitydpi=device-dpi, user-scalable=0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width">
  {# <meta name="viewport" content="width=device-width, initial-scale=1">#}

  <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
  <title>{% block title %}ImageMatching{% endblock %}</title>
  <script src="{% static 'bootstrap/js/jquery-3.2.1.min.js' %}"></script>

  <!-- favicon -->
  <link rel="icon" sizes="192x192" href="{% static 'images/icon/icon_192x192.png' %}" type="image/png">
  <link rel="shortcut icon" sizes="180x180"  href="{% static 'images/icon/icon_180x180.png' %}" type="image/png">

  <!-- 부트스트랩 -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
  <link rel="stylesheet" href="{% static 'css/mylist.css' %}">
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
  <link rel="stylesheet" href="{% static 'css/account_form.css' %}">
  <link rel="stylesheet" href="{% static 'css/post_upload.css' %}">
  <link rel="stylesheet" href="{% static 'css/media.css' %}">
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/inout.css' %}">


    <!-- Custom Fonts -->

    <!-- Custom Fonts -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/creative.css' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


  <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
  <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body id="page-top" style="width: 1522px; height: 1000px; background-color: #ffffff">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="width: 1522px;">
      <div class="nav-wrap container-fluid">
        <a class="logo pull-left" href="{% url 'post:post_list' %}"></a>
        <form class="search-form" action="{% url 'post:post_list' %}" method="post">
          {% csrf_token %}
          <input class="tag-search" type="text" name="tag" placeholder="검색" pattern="#?[\wㄱ-ㅎ|ㅏ-ㅣ|가-힣]+" title="특수문자, 공백 입력불가" required >
          {# <input type="submit"> - input이 하나일 때는 별도의 submit 없이 엔터로 전송이 가능하다.#}
          <span class="search-icon"></span>
        </form>
        <span class="pull-right">
          <!-- <a class="new-post" href="{% url 'post:post_new' %}"></a> -->
          <a class="new-post" href="#" onclick="javascript:alert('준비중입니다');"></a>
          <!-- <a class="follow-list" href="{% url 'post:follow_post_list' %}"></a> -->
          <a class="follow-list" href="#" onclick="javascript:alert('준비중입니다');"></a>
          {% if user.is_authenticated %}
          <a class="account" href="{% url 'post:my_post_list' user.username %}"></a>
          {% else %}
          <a  class="account" href="{% url 'login' %}"></a>
          {% endif %}
        </span>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

  {% if messages %}
  <script type="text/javascript">
  {% for message in messages %}
  alert("{{ message.message }}");
  {% endfor %}
  </script>
  {% endif %}


  <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
  <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/jquery.fittext.js"></script>
    <script src="/static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/creative.js"></script>
</body>
</html>
